Source: cubit
Section: universe/games
Priority: extra
Maintainer: Markus Wick <markus@selfnet.de>
Build-Depends: debhelper (>=7.0.50~), cmake, quilt, libsdl1.2-dev, libsdl-mixer1.2-dev, libsdl-image1.2-dev, libboost-program-options-dev, libboost-filesystem-dev, libsqlite3-dev, libbullet-dev, liblzo2-dev
Standards-Version: 3.9.1.0
Homepage: http://cubit-project.com/

Package: cubit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cubit-data (= ${source:Version})
Recommends: cubit-music
Description: first person role game in a world of cubes
 Cubit is a game in which you walk around in a world that
 consists only out of cubes. You can build and destroy cubes
 in order to build cool objects and just have fun.

Package: cubit-data
Architecture: all
Depends: ${misc:Depends}
Description: first person role game in a world of cubes - data files
 Cubit is a game in which you walk around in a world that
 consists only out of cubes. You can build and destroy cubes
 in order to build cool objects and just have fun.

Package: cubit-music
Architecture: all
Depends: ${misc:Depends}
Description: first person role game in a world of cubes - music files
 Cubit is a game in which you walk around in a world that
 consists only out of cubes. You can build and destroy cubes
 in order to build cool objects and just have fun.

Package: cubit-dbg
Section: universe/debug
Architecture: any
Depends: cubit (= ${binary:Version}), ${misc:Depends}
Description: first person role game in a world of cubes - data files
 Cubit is a game in which you walk around in a world that
 consists only out of cubes. You can build and destroy cubes
 in order to build cool objects and just have fun.

